.calculator {
    width: 150px;
    text-align: center;
    color: #999;
}

.result {
    font-size: 3.0em;
    font-weight: bold;
    color: red;

}

.operator1 {
    font-size: 1.5em;
    font-weight: bold;
    color: black;

}

.operator2 {
    font-size: 1.5em;
    font-weight: bold;
    color: blue;

}

.addition-button {
    cursor: pointer;
    color: blue;
}

.substraction-button {
    cursor: pointer;
    color: green;
}

.division-button {
    cursor: pointer;
    color: rgba(190, 16, 123, 0.932);
    font-size: 1.4em;
}

.multiplication-button {
    cursor: pointer;
    color: rgb(231, 164, 18);
    font-size: 1.4em;
}

.exp-button {
    cursor: pointer;
    color: rgb(49, 155, 137);
    font-size: 1.4em;
}

.sqr-button {
    cursor: pointer;
    color: rgb(216, 11, 11);
    font-size: 1.4em;
}


